<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fetch using MySQL and Node.js</title>
</head>
<body>
    <div class="table-data">
        <button onclick=" myFunc()"> Click Here </button>
  <script>
   function myFunc(){
     window.open("https://hub.labs.coursera.org:443/connect/sharedbvksiipv?forceRefresh=false&path=%2F%3Ffolder%3D%2Fhome%2Fcoder%2Fproject");
   }
  </script>

    </div>
</body>
</html>